<div class="max-w-[554px] bg-white border border-gray-300 rounded-md shadow">
    <div class="flex justify-between items-center p-2">
        <p class="text-sm font-medium text-gray-900 truncate">
            Kendra Contreras
        </p>
        <span class="block text-sm font-medium text-gray-500 truncate">30-07-2024</span>
    </div>
    <img src="https://res.cloudinary.com/dhdxq3mkm/image/upload/v1723636930/vviowx5c2viohlf7432o.png" alt="">
    <div class="p-2">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
                <button>
                    <app-heart-icon />
                </button>
                <button class="-rotate-90">
                    <app-chat-bubble-aval-icon />
                </button>
                <button class="-rotate-45">
                    <app-paper-airplane />
                </button>
            </div>
            <button>
                <app-bookmark-icon />
            </button>
        </div>
        <p class="text-sm font-medium text-gray-700">
            100 Me gusta
        </p>
        <p class="text-sm text-gray-700 font-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum,
            voluptates
            nemo nobis cum saepe deleniti.
        </p>
        <a href="#" class="text-sm text-gray-500 font-medium hover:text-gray-800">Ver los 6 comentarios</a>
        <form action="" class="mt-1">
            <input type="text" placeholder="Agrega un comentario..."
                class="w-full py-1 px-2 outline-none text-gray-700 font-normal text-sm">
            <button class="hidden">Send</button>
        </form>
    </div>
</div>