<aside class="w-72 h-screen ">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-200 border-s border-gray-300">
        <div class="flex items-center space-x-2 text-gray-700 hover:text-gray-500">
            <app-user-circle-icon />
            <a href="#">
                <p class="truncate w-52 text-sm font-semibold text-gray-700">
                    {{'kendra.contreras@dallase.pe'}}
                </p>
                <span class="block text-xs font-normal text-gray-500 truncate w-52">
                    kendra Contreras
                </span>
            </a>
        </div>
        <p class="mt-5">Sugerencias para ti</p>
        <div class="flex flex-col space-y-4 mt-2">
            <div class="flex items-center space-x-2 text-gray-700 hover:text-gray-500">
                <app-user-circle-icon />
                <a href="#">
                    <p class="truncate w-52 text-sm font-semibold text-gray-700">
                        {{'kendra.contreras@dallase.pe'}}
                    </p>
                    <span class="block text-xs font-normal text-gray-500 truncate w-52">
                        kendra Contreras
                    </span>
                </a>
            </div>
            <div class="flex items-center space-x-2 text-gray-700 hover:text-gray-500">
                <app-user-circle-icon />
                <a href="#">
                    <p class="truncate w-52 text-sm font-semibold text-gray-700">
                        {{'kendra.contreras@dallase.pe'}}
                    </p>
                    <span class="block text-xs font-normal text-gray-500 truncate w-52">
                        kendra Contreras
                    </span>
                </a>
            </div>
            <div class="flex items-center space-x-2 text-gray-700 hover:text-gray-500">
                <app-user-circle-icon />
                <a href="#">
                    <p class="truncate w-52 text-sm font-semibold text-gray-700">
                        {{'kendra.contreras@dallase.pe'}}
                    </p>
                    <span class="block text-xs font-normal text-gray-500 truncate w-52">
                        kendra Contreras
                    </span>
                </a>
            </div>
        </div>
    </div>
</aside>