<aside class="w-16 xl:w-60  h-screen">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-200 border-e border-gray-300">
        <ul class="space-y-2 font-medium mt-10">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-md hover:bg-gray-300">
                    <app-home-icon />
                    <span class="hidden xl:block ms-3">Inicio</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-md hover:bg-gray-300">
                    <app-fire-icon />
                    <span class="hidden xl:block ms-3">Explorar</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-md hover:bg-gray-300">
                    <app-plus-icon />
                    <span class="hidden xl:block ms-3">Crear</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-md hover:bg-gray-300">
                    <app-user-circle-icon />
                    <span class="hidden xl:block ms-3">Perfil</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-md hover:bg-gray-300">
                    <app-arrow-right-start-on-rectangle-icon />
                    <span class="hidden xl:block ms-3">Salir</span>
                </a>
            </li>
        </ul>
    </div>
</aside>